/* shared common  */
body {
    font-family: 'Lato', sans-serif;

}

.primary-btn {
    margin-top: 15px;
    border: 0;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #E55473;
    padding: 20px 45px;
}

.common-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 20px;
}

/* Banner section */
.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-info {
    width: 550px;
}

.banner-img {
    width: 400px;
    margin-left: 30px;

}

.banner-img img {
    margin-top: 50px;
    height: 550px;
}

.header {
    height: 600px;
    background: rgba(229, 84, 115, 0.10);
    width: auto;
    padding: 0px 200px;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner .banner-image {
    /* width: 635px;
    height: 800px; */
}

.banner-title {
    margin: 0px;
    color: #272727;
    font-family: Lato;
    font-size: 50px;
    font-weight: 800;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
}

/* Main section  */
.main-section-header {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}


.fetured-flower {
    display: flex;
    justify-content: space-between;
    margin: 0px 240px;
}
.our-featured div{
    width: 700px;
}
.our-featured{
    display: flex;
    justify-content: center;
}

.image-one {
    width: 300px;
    height: 374px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.image-two {
    width: 300px;
    height: 374px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
}

.image-three {
    width: 300px;
    height: 374px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.image-first {
    width: 210px;
    height: 260px;
    margin-top: 115px;
    margin-left: 35px;
}

.image-second {
    width: 210px;
    height: 260px;
    margin-top: 115px;
    margin-left: 35px;
}

.image-third {
    width: 210px;
    height: 260px;
    margin-top: 115px;
    margin-left: 35px;
}

.image-description {
    color: #272727;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 25px;
    text-decoration: underline;
}

/* offer section */
.offer-container {
    margin-top: 170px;
    width: auto;
    height: 500px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 150px;
}

.offer-info {
    align-items: center;
    text-align: center;
    margin-right: 130px;
}

.offer-heading {
    color: #272727;
    font-size: 35px;
    font-weight: 800;
}

.offer-image {
    width: 310px;
    height: 400px;
    margin-left: 50px;
}

.off-span {
    color: #E55473;
}

/* social site */
.insta {
    margin-top: 100px;
    margin-bottom: 20px;
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.contacct-section-pic {
    padding: 0px 200px;
}

.common-pic {
    width: 230px;
    height: 300px;
    margin-right: 42px;
}

/* subscribe section */
.subscribe-container {

    height: 449px;
    margin-top: 100px;
    margin-left: 200px;
    margin-right: 200px;
    /* margin-right: 130px;
    margin-left: 130px; */

    background-image: url('../Flower Asset/Rectangle\ 9.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding-top: 50px;
}

.subscribe {
    text-align: center;
}

.subscribe-header {
    /* margin-top: 170px; */
    color: #272727;
    font-size: 35px;
    font-weight: 800;
}

.input-field {
    /* margin-top: 50px; */
    width: 450px;
    height: 55px;
}
/* sign up section */
.sign-up-container{
    height: 800px;
    width: 1000px;
    background-image: url('../Flower Asset/hand-drawn-floral-background_23-2149011038.avif');
    background-repeat: no-repeat;
    background-size: contain;
}
.sign-up-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


/* footer section */
.footer-container {
    text-align: center;
    width: auto;
    height: 240px;
    background: #111010;
    padding: 80px 200px;
}

.footer-header {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-weight: 800;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    width: 500px;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    margin-left: 290px;
}

.copyright {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
}

.shop {
    color: #fff;
}